@model IEnumerable<CategoryModel>

@{
    ViewData["title"] = "Category Listed";
}

<h3>List Category</h3>

    <a asp-action="Create" class="btn btn-success btn-sm" asp-controller="Category">Create Category</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          
           
            <th scope="col">Slug</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@Html.Raw(item.Description)</td>
                   
                   
                    <td>@item.Slug</td>
                    <td>
                        @if(@item.Status==1)
                        {
                            <span class="text text-success">Hiển Thị</span>
                        }
                        else
                        {
                            <span class="text text-warming">Ẩn</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Category" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm" asp-controller="Category" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" style="text-align: center;">No products found.</td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .btn-warning {
        margin-bottom: 12px;
    }
    .btn-success {
        margin-bottom: 7px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        background-color: cornflowerblue;
        border: 2px solid pink;
    }

        .table th, .table td {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            text-align: left;
            vertical-align: middle;
            border: 2px solid pink;
            padding: 8px;
            background-color: white;
        }

        .table th {
            font-weight: bold;
            background-color: white;
        }

    h3 {
        font-family: 'Georgia', serif;
        color: #333;
    }
</style>
